.section{
    width: 100%;
    min-height: 80vh;
    margin: 1em 0;
    padding: 0em 2em;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.section .title{
    font-size: var(--fs-title);
    font-weight: lighter;
    margin-bottom: 2rem;
    box-shadow: 0 2px 0 #D1B280;
    color: var(--black);
}

.section .p{
    max-width: 100vw;
}

